In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
customer_df = pd.read_csv('Customers.csv')
product_df = pd.read_csv('Products.csv')
transaction_df = pd.read_csv('Transactions.csv')

In [3]:
pt_df = pd.merge(product_df, transaction_df, on=['ProductID'])
pt_df

,ProductID,ProductName,Category,Price_x,TransactionID,CustomerID,TransactionDate,Quantity,TotalValue,Price_y
0,P001,ActiveWear Biography,Books,169.30,T00088,C0019,2024-01-30 17:23:03,2,338.60,169.30
1,P001,ActiveWear Biography,Books,169.30,T00314,C0024,2024-09-24 17:15:16,4,677.20,169.30
2,P001,ActiveWear Biography,Books,169.30,T00428,C0071,2024-08-02 08:13:23,2,338.60,169.30
3,P001,ActiveWear Biography,Books,169.30,T00433,C0036,2024-05-05 05:01:18,2,338.60,169.30
4,P001,ActiveWear Biography,Books,169.30,T00449,C0191,2024-12-12 12:17:38,1,169.30,169.30
...,...,...,...,...,...,...,...,...,...,...
995,P100,HomeSense Sweater,Clothing,126.34,T00115,C0161,2024-03-10 02:22:50,1,126.34,126.34
996,P100,HomeSense Sweater,Clothing,126.34,T00283,C0109,2024-07-16 14:50:07,4,505.36,126.34
997,P100,HomeSense Sweater,Clothing,126.34,T00301,C0109,2024-07-13 08:15:45,2,252.68,126.34
998,P100,HomeSense Sweater,Clothing,126.34,T00740,C0156,2024-08-24 19:10:31,4,505.36,126.34
999,P100,HomeSense Sweater,Clothing,126.34,T00820,C0077,2024-03-11 10:55:51,2,252.68,126.34

In [4]:
cut_df = pd.merge(customer_df, pt_df, on=['CustomerID'])
cut_df

,CustomerID,CustomerName,Region,SignupDate,ProductID,ProductName,Category,Price_x,TransactionID,TransactionDate,Quantity,TotalValue,Price_y
0,C0001,Lawrence Carroll,South America,2022-07-10,P022,HomeSense Wall Art,Home Decor,137.54,T00932,2024-09-17 09:01:18,3,412.62,137.54
1,C0001,Lawrence Carroll,South America,2022-07-10,P029,TechPro Headphones,Electronics,433.64,T00436,2024-11-02 17:04:16,3,1300.92,433.64
2,C0001,Lawrence Carroll,South America,2022-07-10,P054,SoundWave Cookbook,Books,57.30,T00015,2024-01-19 03:12:55,2,114.60,57.30
3,C0001,Lawrence Carroll,South America,2022-07-10,P083,ActiveWear Smartwatch,Electronics,455.72,T00445,2024-05-07 03:11:44,2,911.44,455.72
4,C0001,Lawrence Carroll,South America,2022-07-10,P096,SoundWave Headphones,Electronics,307.47,T00085,2024-04-08 00:01:00,2,614.94,307.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C0200,Kelly Cross,Asia,2023-06-11,P034,HomeSense T-Shirt,Clothing,217.05,T00518,2024-12-11 03:05:50,4,868.20,217.05
996,C0200,Kelly Cross,Asia,2023-06-11,P048,TechPro Cookbook,Books,416.40,T00771,2024-09-10 09:50:48,4,1665.60,416.40
997,C0200,Kelly Cross,Asia,2023-06-11,P057,ActiveWear Smartphone,Electronics,239.70,T00091,2024-04-27 19:06:20,1,239.70,239.70
998,C0200,Kelly Cross,Asia,2023-06-11,P061,HomeSense Desk Lamp,Home Decor,156.96,T00731,2024-07-15 20:36:28,4,627.84,156.96
999,C0200,Kelly Cross,Asia,2023-06-11,P064,HomeSense Running Shoes,Clothing,452.42,T00889,2024-10-03 04:33:16,3,1357.26,452.42

In [5]:
# Group by CustomerID and combine all product names & categories into a single string
pt_df_grp = pt_df.groupby('CustomerID').agg({
    'ProductName': lambda x: ' '.join(x),
    'Category': lambda x: ' '.join(x)
}).reset_index()

pt_df_grp

,CustomerID,ProductName,Category
0,C0001,HomeSense Wall Art TechPro Headphones SoundWav...,Home Decor Electronics Books Electronics Elect...
1,C0002,BookWorld Rug ComfortLiving Sweater TechPro T-...,Home Decor Clothing Clothing Home Decor
2,C0003,ActiveWear Smartwatch ActiveWear Rug ActiveWea...,Electronics Home Decor Home Decor Clothing
3,C0004,BookWorld Bluetooth Speaker SoundWave Cookbook...,Electronics Books Home Decor Home Decor Books ...
4,C0005,ComfortLiving Headphones ActiveWear Cookware S...,Electronics Home Decor Electronics
...,...,...,...
194,C0196,ComfortLiving Mystery Book ActiveWear Jacket A...,Books Clothing Home Decor Home Decor
195,C0197,BookWorld Smartwatch SoundWave Headphones Acti...,Electronics Electronics Home Decor
196,C0198,HomeSense Running Shoes ComfortLiving Laptop,Clothing Electronics
197,C0199,BookWorld Bluetooth Speaker HomeSense Wall Art...,Electronics Home Decor Electronics Home Decor
198,C0200,HomeSense T-Shirt TechPro Cookbook ActiveWear ...,Clothing Books Electronics Home Decor Clothing

In [6]:
pt_df_grp['tags'] = pt_df_grp['ProductName'] + ' ' + pt_df_grp['Category']

# Drop null record which have null values in tags columns
pt_df_grp.drop(pt_df_grp[pt_df_grp['tags'].isnull()].index, inplace=True)
pt_df_grp.drop_duplicates(inplace=True)

pt_df_grp

,CustomerID,ProductName,Category,tags
0,C0001,HomeSense Wall Art TechPro Headphones SoundWav...,Home Decor Electronics Books Electronics Elect...,HomeSense Wall Art TechPro Headphones SoundWav...
1,C0002,BookWorld Rug ComfortLiving Sweater TechPro T-...,Home Decor Clothing Clothing Home Decor,BookWorld Rug ComfortLiving Sweater TechPro T-...
2,C0003,ActiveWear Smartwatch ActiveWear Rug ActiveWea...,Electronics Home Decor Home Decor Clothing,ActiveWear Smartwatch ActiveWear Rug ActiveWea...
3,C0004,BookWorld Bluetooth Speaker SoundWave Cookbook...,Electronics Books Home Decor Home Decor Books ...,BookWorld Bluetooth Speaker SoundWave Cookbook...
4,C0005,ComfortLiving Headphones ActiveWear Cookware S...,Electronics Home Decor Electronics,ComfortLiving Headphones ActiveWear Cookware S...
...,...,...,...,...
194,C0196,ComfortLiving Mystery Book ActiveWear Jacket A...,Books Clothing Home Decor Home Decor,ComfortLiving Mystery Book ActiveWear Jacket A...
195,C0197,BookWorld Smartwatch SoundWave Headphones Acti...,Electronics Electronics Home Decor,BookWorld Smartwatch SoundWave Headphones Acti...
196,C0198,HomeSense Running Shoes ComfortLiving Laptop,Clothing Electronics,HomeSense Running Shoes ComfortLiving Laptop C...
197,C0199,BookWorld Bluetooth Speaker HomeSense Wall Art...,Electronics Home Decor Electronics Home Decor,BookWorld Bluetooth Speaker HomeSense Wall Art...
198,C0200,HomeSense T-Shirt TechPro Cookbook ActiveWear ...,Clothing Books Electronics Home Decor Clothing,HomeSense T-Shirt TechPro Cookbook ActiveWear ...

In [7]:
original_cut_df = pt_df_grp.drop(columns=['ProductName','Category'])
original_cut_df

    CustomerID                                               tags
0        C0001  HomeSense Wall Art TechPro Headphones SoundWav...
1        C0002  BookWorld Rug ComfortLiving Sweater TechPro T-...
2        C0003  ActiveWear Smartwatch ActiveWear Rug ActiveWea...
3        C0004  BookWorld Bluetooth Speaker SoundWave Cookbook...
4        C0005  ComfortLiving Headphones ActiveWear Cookware S...
..         ...                                                ...
194      C0196  ComfortLiving Mystery Book ActiveWear Jacket A...
195      C0197  BookWorld Smartwatch SoundWave Headphones Acti...
196      C0198  HomeSense Running Shoes ComfortLiving Laptop C...
197      C0199  BookWorld Bluetooth Speaker HomeSense Wall Art...
198      C0200  HomeSense T-Shirt TechPro Cookbook ActiveWear ...

[199 rows x 2 columns]

In [8]:
df = pd.merge(customer_df, original_cut_df, on=['CustomerID'])
df

,CustomerID,CustomerName,Region,SignupDate,tags
0,C0001,Lawrence Carroll,South America,2022-07-10,HomeSense Wall Art TechPro Headphones SoundWav...
1,C0002,Elizabeth Lutz,Asia,2022-02-13,BookWorld Rug ComfortLiving Sweater TechPro T-...
2,C0003,Michael Rivera,South America,2024-03-07,ActiveWear Smartwatch ActiveWear Rug ActiveWea...
3,C0004,Kathleen Rodriguez,South America,2022-10-09,BookWorld Bluetooth Speaker SoundWave Cookbook...
4,C0005,Laura Weber,Asia,2022-08-15,ComfortLiving Headphones ActiveWear Cookware S...
...,...,...,...,...,...
194,C0196,Laura Watts,Europe,2022-06-07,ComfortLiving Mystery Book ActiveWear Jacket A...
195,C0197,Christina Harvey,Europe,2023-03-21,BookWorld Smartwatch SoundWave Headphones Acti...
196,C0198,Rebecca Ray,Europe,2022-02-27,HomeSense Running Shoes ComfortLiving Laptop C...
197,C0199,Andrea Jenkins,Europe,2022-12-03,BookWorld Bluetooth Speaker HomeSense Wall Art...
198,C0200,Kelly Cross,Asia,2023-06-11,HomeSense T-Shirt TechPro Cookbook ActiveWear ...

In [9]:
# Initialize a tfidf object
tfidf = TfidfVectorizer(max_features=200)

# Transform the data
vectorized_data = tfidf.fit_transform(df['tags'].values)
vectorized_dataframe = pd.DataFrame(vectorized_data.toarray(), index=df['tags'].index.tolist())
vectorized_dataframe.shape

(199, 37)

In [10]:
similarity = cosine_similarity(vectorized_data)
similarity

array([[1.        , 0.13782391, 0.32142858, ..., 0.1555571 , 0.4056456 ,
        0.33398784],
       [0.13782391, 1.        , 0.57251352, ..., 0.14198391, 0.32050965,
        0.29871477],
       [0.32142858, 0.57251352, 1.        , ..., 0.07421389, 0.32995979,
        0.32242911],
       ...,
       [0.1555571 , 0.14198391, 0.07421389, ..., 1.        , 0.14777046,
        0.48840847],
       [0.4056456 , 0.32050965, 0.32995979, ..., 0.14777046, 1.        ,
        0.20814127],
       [0.33398784, 0.29871477, 0.32242911, ..., 0.48840847, 0.20814127,
        1.        ]])

In [11]:
lookalikes = []

# Iterate over the first 20 customers
for idx in range(20):
    customer_id = df.iloc[idx]['CustomerID']
    
    # Get similarity scores for the current customer (excluding itself)
    scores = similarity[idx]
    sorted_scores = sorted(enumerate(scores), key=lambda x: x[1], reverse=True)[1:4]
    
    # Extract customer IDs and similarity scores for the top 3 similar customers
    lookalike_ids = [df.iloc[i[0]]['CustomerID'] for i in sorted_scores]
    similarity_scores = [round(i[1], 4) for i in sorted_scores]
    
    # Append the result as a new row
    lookalikes.append([customer_id, lookalike_ids, similarity_scores])

# Convert the results to a DataFrame
lookalike_df = pd.DataFrame(lookalikes, columns=['CustomerID', 'LookalikeID', 'SimilarityScore'])

In [12]:
lookalike_df

   CustomerID            LookalikeID           SimilarityScore
0       C0001  [C0197, C0026, C0045]  [0.8534, 0.7629, 0.7491]
1       C0002  [C0133, C0173, C0164]  [0.9228, 0.7705, 0.7279]
2       C0003  [C0164, C0181, C0085]   [0.7879, 0.724, 0.6944]
3       C0004  [C0075, C0008, C0118]  [0.7745, 0.7698, 0.7666]
4       C0005  [C0096, C0128, C0014]  [0.7998, 0.7131, 0.7009]
5       C0006  [C0187, C0139, C0191]   [0.7887, 0.696, 0.6505]
6       C0007  [C0181, C0031, C0118]   [0.7806, 0.7136, 0.681]
7       C0008  [C0057, C0143, C0004]   [0.8372, 0.801, 0.7698]
8       C0009  [C0093, C0156, C0062]  [0.7396, 0.7257, 0.7028]
9       C0010  [C0058, C0092, C0040]  [0.7999, 0.7642, 0.7196]
10      C0011  [C0094, C0084, C0063]  [0.7144, 0.6774, 0.6725]
11      C0012  [C0136, C0076, C0059]  [0.8733, 0.8137, 0.7545]
12      C0013  [C0040, C0105, C0102]   [0.792, 0.7703, 0.7623]
13      C0014  [C0128, C0012, C0005]  [0.9675, 0.7206, 0.7009]
14      C0015  [C0073, C0060, C0182]  [0.7433, 0.7378, 0.6578]
15      C0016  [C0184, C0192, C0102]  [0.8376, 0.7341, 0.7102]
16      C0017  [C0164, C0041, C0104]  [0.7394, 0.6928, 0.6912]
17      C0018  [C0114, C0161, C0039]  [0.7873, 0.7776, 0.7676]
18      C0019  [C0070, C0191, C0171]  [0.8227, 0.8159, 0.7899]
19      C0020  [C0050, C0045, C0001]  [0.8087, 0.7578, 0.7195]

In [13]:
lookalike_df.to_csv("Raj_Jangam_Lookalike.csv", index=False)